.header{
    width: 100%     ;
    position: fixed;
    top: 0;
    left:0;
    z-index: 9;
    transition: 0.5s ease-in-out;
    height: 50px;

    &.active{
       position: fixed;
       height: 70px; 
       background-color: rgba($color: #000000, $alpha: 1);
    }
    &-logo{
        position: absolute;
        width: max-content;
        left: 49.5%;
        transform: translateX(-58%);
    }
    &-menu{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 170px;
        margin-top: 30px;
        line-height: 1;
        &-item{
            
            &:not(:nth-of-type(6)){
                margin-right:40px;
            }
            &:nth-of-type(4){
                margin-left: 225px;
            }
           
        }
        

        &-link{
            text-transform: uppercase;
            color: $brown-color;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            position: relative;
            line-height: 1;
            padding-bottom: 10px;
            &::before{
                content: '';
                position: absolute;
                bottom: -4px;
                width: 100%;
                height: 2px;
                background-color: $brown-color;
                transform: scaleX(0);
                transition: 0.5s;
                
            }
           
        }

    }
}
